.comment {
  margin-bottom: 15px;
}

.comment-header {
  color: #757575;
  display: flex;
  align-items: center;

  &__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    background: url("./img/avatars/default.svg") center / cover;
  }

  &__username {
    font-size: 13px;
    font-weight: 700;
  }

  &__comment-time {
    font-size: 12px;
  }
}

.comment-content {
  white-space: pre-wrap;
  padding: 8px 0 6px;
}

.comment-bar {
  &__button {
    margin-right: 8px;
    padding: 0;
    color: #138813;
    border: none;
    background: none;
    font-size: 13px;
    line-height: 22px;
    cursor: pointer;
  }
}

.comment-input {
  margin-bottom: 16px;
}

.comment-thread {
  margin: 12px 0 0 16px;
  padding-left: 16px;
  border-left: 1px dashed #979797;
}